.main{
    background-color: red;
    height: 456px;
    width: 70%;
}

/* rule for tablet */

@media only screen and (max-width: 536px) {
    .main{
        background-color: purple;
        height: 256px;
        width: 70%;
    }
    


  }

  /* ?rule for mobile */
@media only screen and (max-width: 436px) {
    .main{
        background-color: green;
        height: 656px;
        width: 70%;
    }
    


  }

